<link rel="stylesheet" href="../assets/css/footer.css">
<script type="text/javascript" src="../assets/js/includes/footer.js"></script>
<div class="footer">
    <div style=" margin: 0 10vw 0 0;">
        <span class="bigword">
            Please Contact With Me!
        </span>
        <div class="imgs">
            <img src="../assets/images/instagram.png">
            <img src="../assets/images/twitter.png">
            <img src="../assets/images/qq.png">
            <img src="../assets/images/wechat.png">
            <img src="../assets/images/github.png">
        </div>
    </div>
    <div class="explain">
        <span><img src="../assets/images/weibo.png">：Didnelpsun</span>
        <span><img src="../assets/images/tieba.png">：Didnelpsun</span>
        <span><img src="../assets/images/email.png">：didnelpsun@163.com</span>
    </div>
    <div class="backtotop">
        <img src="../assets/images/arrow.png">
        <span>Back to Top</span>
    </div>
</div>