<link rel="stylesheet" href="../assets/css/footer.css">
<script type="text/javascript" src="../assets/js/includes/footer.js"></script>
<div class="footer">
    <span class="bigword">
        Please Contant With Me!
    </span>
    <div class="explain">
        <span>It's my pleasure to chat with you.</span>
        <span>If you want to contant with me:</span>
        <span>Email:didnelpsun@163.com</span>
        <span>Or you want my wechat?</span>
    </div>
    <div class="backtotop">
        <img src="../assets/images/arrow.png">
        <span>Back to Top</span>
    </div>
</div>