<link rel="stylesheet" href="../assets/css/header.css" />
<script type="text/javascript" src="../assets/js/includes/header.js"></script>
<div class="header">
  <div class="name" style="color: #999;">
    <a href="https://github.com/Didnelpsun">
      <strong class="wordchange">Didnelpsun</strong>
    </a>
  </div>
  <img class="crown" src="../assets/images/crown.png" />
  <div class="moremessage">
    <span class="wordchange" style="color: #999;">Know more</span>
    <div class="caidan" style="display: none;">
            <a href="http://www.ccnu.edu.cn/"><span class="wordchange">My University</span></a>
            <a href="https://github.com/orgs/Ethernal-Intelligence"><span class="wordchange">My Organzition</span></a>
    </div>
  </div>
</div>
