.footer {
  width: 100vw;
  height: 150px;
  background-color: #222;
  /* background-color: red; */
  font-size: 15px;
  color: #eee;
  /* border-top:1px solid #888; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .bigword {
    font-size: 30px;
  }

  .imgs {
    margin:10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
      margin: 0 5px 0 0;
    }
  }

  .explain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20vw;
    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 5px;
      border-bottom: solid #181818;

      img {
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
      }
    }
    span:hover {
      // span{
      cursor: pointer;
      box-shadow: -4px -4px 10px #000;
      border: 1px solid #333;
      // }
    }
  }

  .backtotop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 4vw;
    cursor: pointer;

    img {
      width: 25px;
      height: 20px;
      margin: 0 0 10px 0;
    }
  }
  .backtotop:hover {
    img {
      width: 28px;
      height: 22px;
      transform: translatey(-5px);
    }
  }
}
