* {
  -webkit-tap-highlight-color: transparent;
  ::selection {
    background: rgba($color: white, $alpha: 0);
    color: rgba($color: orange, $alpha: 0.9);
  }
}

.header {
  width: 100vw;
  background-color: #222;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;

  .name {
    font-size: 26px;
    width: 60vw;
    color: #999;

    strong:hover {
      color: white;
    }
  }

  .crown {
    height: 20px;
    margin: 0 10px 0 0;
  }

  a:link {
    text-decoration: none;
    color: #999;
  }
  a:active {
    text-decoration: blink;
  }
  a:hover {
    text-decoration: none;
    color: #999;
  }
  a:visited {
    text-decoration: none;
    color: #999;
  }

  .moremessage {
    padding: 0 0 0 15px;
    cursor: pointer;

    span {
      padding: 0 0 0 15px;
    }

    .caidan {
      font-size: 20px;
      background-color: #222;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 15px 15px 0;
      border-radius: 5%;
    }
    span:hover {
      color: white;
    }
  }
}
