.menu {
  width: 250px;
  height: 100vh;
  background-color: #444;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
.main {
  width: 100vw;

  // .showspace {
  // }

  .show {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .showimage {
      width: 100vw;
      height: 90vh;
      // background-image: url(https://i.loli.net/2020/01/15/WFLbUqanmdS7Q1i.png);
      // background-image: url(https://i.loli.net/2020/01/15/Id95DUwb8J7HhMn.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .showcover {
      position: absolute;
      width: 100vw;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .showcontent {
      font-size: 4.5vw;
      position: absolute;
      color: rgba(255, 255, 255, 0.8);

      .showword {
        margin: 0 5vw 0;
      }

      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5vw 0 0;

        button {
          color: #fff;
          font-size: 2vw;
          width: 15vw;
          height: 5vw;
          margin: 2.5vw 5vw 0;
          border: 0;
          border-radius: 1vw;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          outline: none;
          cursor: pointer;

          img {
            width: 3vw;
            height: 3vw;
          }
        }
      }
    }
    .changebuttons {
      position: absolute;
      width: 100vw;
      height: 90vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .changebutton{
        padding:0 10px 0;
        width: 60px;
        cursor: pointer;
      }
    }
  }
}
