---
layout: blank
---
<title>{{page.title}}</title>
<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
    var mathId = document.getElementById("post-container");//选择公式识别范围
    MathJax.Hub.Config({
        showProcessingMessages: false,//关闭js加载过程信息
        messageStyle: "none",//不显示信息
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath:  [ ["$", "$"] ],//行内公式选择符
            displayMath: [ ["$$","$$"] ],//段内公式选择符
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'],//避开某些标签
            // ignoreClass:"comment-content" //避开含该Class的标签
        },
        "HTML-CSS": {
            availableFonts: ["STIX","TeX"],//可选字体
            showMathMenu: false //关闭右击菜单显示
        }
    });
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,mathId]);//选择公式识别范围
</script>
<style>
    body::-webkit-scrollbar {
        width: 6px;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.5);
        background: rgba(0, 0, 0, 1);
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
        border-radius: 0;
        background: rgba(0, 0, 0, 1);
    }

    .post {
        padding: 3vw;
    }

    .postContent {
        width: 86vw;
        background-color: #181818;
        padding: 3vw;
        border-radius: 10px;
    }

    .postTagList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .postTag {
        margin: 8px 6px 0 0;
        padding: 2px 4px 2px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 16px;
        color: white;
        border-color: #ffc171;
        border-style: solid;
        border-radius: 10%;
        border-width: 1px;
        font-family: "Bodoni MT", "KaiTi";
    }

    h1 {
        font-size: 32px;
        color: white;
    }

    h2 {
        font-size: 28px;
        color: #eee;
    }

    h3 {
        font-size: 24px;
        color: #eee;
    }

    h4 {
        font-size: 20px;
        color: #eee;
    }

    h5 {
        font-size: 16px;
        color: #eee;
    }

    h6 {
        font-size: 12px;
        color: #eee;
    }

    p {
        font-size: 16px;
        text-indent: 2em;
        line-height: 1.5em;
    }

    a {
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
    }

    a:link {
        text-decoration: none;
        color: #ecd691;
    }

    a:active {
        text-decoration: blink;
    }

    a:hover {
        text-decoration: none;
        color: #ecd691;
    }

    a:visited {
        text-decoration: none;
        color: #ecd691;
    }

    .highlighter-rouge {
        background-color: #111;
        margin: 1px;
        color: #c3a750;
        font-family: "SimSun-ExtB", "KaiTi";
    }

    .highlight {
        background-color: #111;
        color: #bbb;
        margin: 10px;
        padding: 10px;
        width: auto;
        font-size: 14px;
        font-family: "Calibri", "KaiTi";
    }

    pre.highlight{
        overflow-x: auto;
    }

    pre.highlight::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    pre.highlight::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 8px rgba(285, 255, 255, 0.5);
        box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.5);
        background: rgba(0, 0, 0, 1);
    }

    pre.highlight::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.4);
        box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.4);
        border-radius: 0;
        background: rgba(0, 0, 0, 1);
    }

    code{
        word-wrap: break-word;
        word-break: normal;
    }

    img {
        max-width: 80vw;
        margin: 5px 0 5px;
        vertical-align:middle
    }

    li {
        line-height: 1cm;
        font-family: "Calibri", "KaiTi";
        word-wrap: break-word;
        word-break: normal;
    }

    li p {
        text-indent: 0cm;
    }

    li p img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr {
        border-width: 0.5px;
        border-color: #fff;
        border-style: dashed;
    }

    table {
        margin: 10px;
        background-color: #222;
        font-family: "Bell MT", "KaiTi";
    }

    thead tr th {
        border-bottom: 1px solid #fff;
    }

    tbody tr td {
        border-bottom: 0.1px solid #333;
    }

    blockquote {
        background-color: rgba(255, 255, 255, 0.05);
        margin-top: 10px;
        margin-bottom: 15px;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        border-left: 5px solid #ddd;
    }

    blockquote p {
        font-size: 14px;
        margin: 5px;
        line-height: 0.8cm;
    }

    font {
        font-family: "Calibri", "KaiTi";
    }
</style>
<script language="javascript">
    window.onload = function () {
        Change = function (pValue) {
            return pValue.replace(/[^\u0000-\u00FF]/g, function ($0) { return escape($0).replace(/(%u)(\w{4})/gi, "&#x$2;") });
        }
        getColor = function (colorNum) {
            switch (colorNum) {
                case 0:
                    return "#fa0101";
                case 1:
                    return "#fa4d01";
                case 2:
                    return "#fa7c01";
                case 3:
                    return "#faab01";
                case 4:
                    return "#fad401";
                case 5:
                    return "#ebfa01";
                case 6:
                    return "#b1fa01";
                case 7:
                    return "#82fa01";
                case 8:
                    return "#59fa01";
                case 9:
                    return "#01fa9f";
                case 10:
                    return "#01f7fa";
                case 11:
                    return "#01c2fa";
                case 12:
                    return "#019ffa";
                case 13:
                    return "#016afa";
                case 14:
                    return "#0124fa";
                case 15:
                    return "#6501fa";
                case 16:
                    return "#9901fa";
                case 17:
                    return "#e501fa";
                case 18:
                    return "#fa01c2";
                case 19:
                    return "#fa017c";
            }
        }
        let tags = document.getElementsByClassName("postTag");
        let i = 0;
        while (tags[i]) {
            // console.log(tags[i].innerText);
            let colorNum = 0;
            let innerText = Change(tags[i].innerText[0]);
            if (innerText.length == 1)
                colorNum = (innerText.charCodeAt() - 64) % 20;
            else
                colorNum = (innerText.replace(/[^0-9]/ig, "")) % 20;
            let color = getColor(colorNum);
            tags[i].style.borderColor = color;
            i++;
        }
    }
</script>
<style>
    .c{
        color: #777;
    }
    .c1 {
        color: #666;
        /*注释*/
    }

    .cm {
        color: #666;
        /*注释*/
    }

    .cp {
        color: #891202;
        /*头文件说明*/
    }

    .dl {
        color: #ccc;
    }

    .err {
        color: #ccc;
    }

    .k {
        color: #ffc847;
    }

    .kc {
        color: #fce449;
    }

    .kd {
        color: #fd3c00;
        /*关键字*/
    }

    .kn {
        color: #03690f;
    }

    .kr {
        color: #befc54;
    }

    .kt {
        color: #f3fd5d;
    }

    .mi {
        color: #0df928;
    }

    .mf {
        color: #48ff5d;
    }

    .mo {
        color: #7eeb8a;
    }

    .n {
        color: #0df987;
    }

    .na {
        color: #6cfae7;
    }

    .nb {
        color: #73e7fc;
    }

    .nc {
        color: #65ceff;
    }

    .nd {
        color: #5cbfec;
    }

    .nf {
        color: #509cf8;
    }

    .nl {
        color: #8e6ef4;
    }

    .nn {
        color: #046b9b;
    }

    .no {
        color: #607fe7;
    }

    .nt {
        color: #688bfc;
    }

    .nx {
        color: #8481fe;
    }

    .o {
        color: #ddd;
        /*括号*/
    }

    .p {
        color: #ddd;
        /*括号*/
    }

    .s {
        color: #9a69fb;
    }

    .s1 {
        color: #c66ef8;
    }

    .s2 {
        color: #e175fc;
    }

    .se {
        color: #fc79df;
    }

    .sr {
        color: #8481fe;
        /*=nx*/
    }
</style>
<div class="post">
    <div class="postContent">
        <h1 style="font-size: 30px; margin:0 0 10px; color: #fff;">{{page.title}}</h1>
        <div style="font-size: 12px; color: #ddd; font-family: 'Bradley Hand ITC','KaiTi';">Didnelpsun / Firstly
            published on {{page.date | date: "%Y"}}年{{page.date | date: "%m"}}月{{page.date |
        date: "%d"}}日{{page.date | date: "%H"}}时{{page.date | date:
        "%M"}}分{{page.date | date: "%S"}}秒 文章ID：{{page.id}}</div>
        <div style="margin: 2px;color:white;font-family:FangSong;">
            <span>摘要：{{page.excerpt}} </span>
            <span> 共有{{ page.content | strip_html | strip_newlines | remove: " " | size }}字 </span>
            <span>
                阅读需要{{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 150 | plus: 1 }}分钟
            </span>
        </div>
        <div class="postTagList">
            {% for tag in page.tags %}
            <div class="postTag">{{tag}}</div>
            {% endfor %}
        </div>
        <div>{{content}}</div>
    </div>
</div>